<div id="confirma_modal">
	<div id="cabecera" class="cabezal {{color_secc}}" >
		<label class="nombre-modal">{{nombre_modal}}</label>
	</div>
	<div id="contenedor_modal">
		<div id="contenido_modal" >
			<label class="text-conf">{{mensaje_modal}}</label>
		</div>
		<div id="botones_modal" class="botones-conf">
			<button id="b_busca_reg" class="b-busca boton_index izq confirma-b {{color_secc}}" ng-click="confirma_ligar()">
				<label class="glyphicon glyphicon-ok" > Confirmar </label>
			</button>
			<button id="b_busca_reg" class="b-busca boton_index der confirma-b {{color_secc}}" ng-click="cancelar_ligar()">
				<label class="glyphicon glyphicon-remove"> Cancelar </label>
			</button>
		</div>
	</div>
</div>